@using _05._05._25Homework.Data;
@using _05._05._25Homework.Web.Models
@model IndexViewModel;

<div class="col-md-8 offset-md-2" style="margin-top:100px">
    @foreach(Question q in Model.Questions)
    {
        <div class="card card-body bg-light">
            <h4>
                <a href="/home/viewquestion?id=@q.Id">
                    @q.Title
                </a>
            </h4>
            <div>
                <span>Tags:</span>
                @foreach(QuestionTag qt in q.QuestionTags)
                {
                    <span class="badge bg-primary">@qt.Tag.Name</span>
                }
            </div>
            <div style="margin-top: 10px;">
                @q.Content
            </div>
            <br>
            <span>@q.Answers.Count() answer(s)</span>
        </div>
    }
</div>
